div {
    background-color: #0073df;
width:2544px;
margin-left: -8px;
margin-top: -8px;
font-size: 16px;
text-align: center;
justify-content: center;
padding: 8px;
}

#one{
width: 2544px;
background-color:#212529;
margin-top: 0;
padding: 0;
margin-top: 8;
margin-left: 8;
}
div.img {
background-color:#212529;
margin-left: -560;
}

div.row {
    padding: 0;
    margin-left: -8;
    margin-top: -6px;
    width: 2560px;
    background-color: rgb(255, 255, 255);
}
div.prod {
    padding: 0;
    margin-left: -8;
    margin-top: 6px;
    background-color: white;
    width: 106.12px;
    height: 42px;
    margin-left: 685px;

}
div.deal {
    padding: 0;
    margin-left: -8;
    margin-top: -42px;
    background-color: white;
    width: 106.12px;
    height: 42px;
    margin-right: 863px;
    display: inline-block;

}
div.part {
    padding: 0;
    margin-left: -8;
    margin-top: -42px;
    background-color: white;
    width: 106.12px;
    height: 42px;
    margin-left: 897px;

}
div.computer {
    padding: 0;
    margin-left: -8;
    margin-top: -42px;
    background-color: white;
    width: 106.12px;
    height: 42px;
    margin-left: -447px;
    display: inline-block;

}
div.apple {
    padding: 0;
    margin-left: 0;
    margin-top: -58px;
    background-color: white;
    width: 106.12px;
    height: 40px;
    margin-left: 106px;

}
div.service {
    padding: 0;
    margin-left: 0;
    margin-top: -40px;
    background-color: white;
    width: 106.12px;
    height: 40px;
    margin-left: 200px;

}
div.care {
    padding: 0;
    margin-left: 0;
    margin-top: -40px;
    background-color: white;
    width: 106.12px;
    height: 40px;
    margin-left: 300px;

}
div.sup {
    padding: 0;
    margin-left: 0;
    margin-top: -40px;
    background-color: white;
    width: 106.12px;
    height: 40px;
    margin-left: 410px;

}
div.mc {
    padding: 0;
    margin-left: 0;
    margin-top: -40px;
    background-color: white;
    width: 106.12px;
    height: 40px;
    margin-left: 510px;

}
div.blu {
    padding: 0;
    margin-left: 0;
    margin-top: -40px;
    background-color: white;
    width: 300px;
    height: 40px;
    margin-left: 610px;

}
div.bellow {
    padding: 0;
    margin-left: 0;
    background-color: white;
    width: 2544px;
    height: 1000px;
}
span {
    font-weight: bold;
    color: white;
}
p {
    font-weight: bold;
    margin-top: 5;
    padding: 12;
}
#deal {
    font-weight: bold;
    margin-top: 0;
    padding: 12;
}
#part {
    font-weight: bold;
    margin-top: 0;
    padding: 12;
}
#computer {
    font-weight: bold;
    margin-top: 0;
    padding: 12;
}
#apple {
    font-weight: bold;
    margin-top: 0;
    padding: 12;
}
#service {
    font-weight: bold;
    margin-top: 0;
    padding: 12;
}
#care {
    font-weight: bold;
    margin-top: 0;
    padding: 12;
}
#sup {
    font-weight: bold;
    margin-top: 0;
    padding: 12;
}
#mc {
    font-weight: bold;
    margin-top: 0;
    padding: 12;
}
#blu {
    font-weight: bold;
    margin-top: 0;
    padding: 12;
    color:#0073df;
}
hr {
    margin-top: -0;
}
body {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
}
