
p.a {
    font: italic small-caps bold 12px/30px times, serif;
    font-size: 125px;
    margin-top: 80px;
    text-align: center;
    

}
div {
    background-color: whitesmoke;
    width: 230px;
    margin-left: 300px;
    border: whitesmoke;
    font-family: "Times New Roman", Times, serif;
}
p.b {
    font: italic small-caps bold 12px/30px times, serif;
    font-size: 16px;
}
span {
    display: block;
    font-size: 18px;
}
div.a {
    background-color: whitesmoke;
    width: 750px;
    margin-left: 880px;
    display: block;
    margin-top: -1020px;
    border: whitesmoke;
    font-family: "Times New Roman", Times, serif;
}
div.c {
    background-color: whitesmoke;
    width: 230px;
    margin-left: 2000px;
    border: whitesmoke;
    margin-top: -835px;
    font-family: "Times New Roman", Times, serif;
}
