
p.a {
    font: italic small-caps bold 12px/30px arial, serif;
    font-size: 150px;
    margin-top: 80px;
    text-align: center;
    

}
div {
    background-color: whitesmoke;
    width: 230px;
}
p.b {
    font: italic small-caps bold 12px/30px arial, serif;
    font-size: 16px;
}
span {
    display: block;
    text-align: center;
    font-size: 18px;
}