div {
    background-color: red;
    width: 200px;
    height: 125px;
    margin-top: -15px;
    margin-left: -10;

}
div.a {
    background-color: rgb(218, 150, 150);
    width: 2362px;
    height: 125px;
    margin-left: 190px;
    margin-top: -118px;
}
div.b {
    background-color: yellow;
    width: 400px;
    height: 125px;
    margin-top: -7;
    margin-left: -10;
}
div.c {
    background-color:blanchedalmond;
    width: 2362px;
    height: 125px;
    margin-left: 390px;
    margin-top: -125px;
}