div {
background-color: #d6d6d6;
width: 2562px;
height: 100px;
margin-top: -15px;
margin-left: -10;
}
div.a {
background-color: white;
width: 2562px;
height: 300px;

}
div.b {
background-color: #303030;
width: 2562px;
height: 200px;

}
img.a {
    margin-left: 600px;
    margin-top: 25px;
}

p {
    margin-left: 50px;
}

